/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/docker/mysql
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
