version: '3.4'

services:
  web:
    image: ghcr.io/alexispe/portfolio/web:latest
    ports:
      - "8088:8080"
    depends_on:
      - db
    networks:
      - debian_web

  db:
    image: 'mysql/mysql-server:8.0'
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - ./docker/mysql:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
      retries: 3
      timeout: 5s
    networks:
      - debian_web

networks:
  debian_web:
    external: true
