html {
    font-size: 13px;
    scroll-padding-top: 86px;
}

.post-container {
    @include make-container();
    max-width: 820px;
}

.fw-semi-bold {
    font-weight: 600;
}

.fs-7 {
    font-size: 0.75rem;
}

.bg-blue {
    background-color: $blue;
}

.text-orange {
    color: #F5B561;
}
.text-brown {
    color: #5E1E2B;
}
.text-teal {
    color: #90E2CF;
}
.text-dark-teal {
    color: #68a89a;
}
.text-gradient-purple {
    background: linear-gradient(90deg, #7549F2, #DF58D2, #ED787C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-red {
    background: linear-gradient(92.62deg, #E1704F 0%, #CF617E 51.33%, #6B84BC 99.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-dark-blue {
    background-color: #142139;
}
.bg-gradient-green {
    background: linear-gradient(45deg, #75c48f 0%, #60cf8c 70%, #90e2cf 100%);
}
.bg-gradient-multi {
    background: linear-gradient(217deg, rgba(#F4ADAD,.8), rgba(#F4ADAD,0) 70.71%),
    linear-gradient(127deg, rgba(#90E2CF,.8), rgba(#90E2CF,0) 70.71%),
    linear-gradient(336deg, rgba(#F5B561,.8), rgba(#F5B561,0) 70.71%),
    linear-gradient(180deg, rgba(#C6FCA6,.8), rgba(#C6FCA6,0) 70.71%);
}

.blur {
    backdrop-filter: blur(10px);
    &-sm {
        backdrop-filter: blur(5px);
    }
    &-md {
        backdrop-filter: blur(15px);
    }
    &-lg {
        backdrop-filter: blur(20px);
    }
}
