$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1024px,
    xxl: 1024px
);
$container-padding-x: 10em;

$primary:       #0071e3;
$dark:          #1f2227;
$light:         #f5f5f7;
$blue:          #162b5b;
$danger:        #ec3127;

$navbar-light-color: $dark;
$navbar-light-hover-color: $primary;
$navbar-nav-link-padding-x: 1rem;

$nav-link-font-size: 0.923rem;
$nav-link-font-weight: 300;

$headings-font-weight: 700;

$font-family-sans-serif: SF Pro Text, sans-serif;

$box-shadow: 2px 4px 12px rgba(0,0,0,.08);

$card-spacer-x: 2rem;
$card-spacer-y: 2rem;
$card-border-radius: 1.125rem;
$card-border-color: transparent;

@import "./node_modules/bootstrap/scss/bootstrap";

// Custom styles
@import "_global";
@import "_font";
@import "_navbar";
@import "_card";
@import "_square";

@import "_row-gallery";
